*{padding: 0;
margin: 0; 
box-sizing: 0;
/* border-box; */
}
body{
    overflow-x: hidden;
}
h1{
    font-family: 'cursive', cursive;
}
.carousel-item img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.rightimg{
    object-fit: cover;
    width: 100vh;
    height: 100vh;
}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}
